.company-details {
    margin-bottom: 20px;
    font-family: var(--wp--preset--font-family--rubik);
    font-size: var(--wp--preset--font-size--x-large);
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.25;
}

.rating-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.company-details {
    margin-bottom: 20px;
}

.rating-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#rating-emoticon {
    display: inline-block;
    animation: bounce 0.5s infinite;
    font-size: xx-large;
    margin-left: 10px;
}

.rating-value-container {
    position: relative;
    display: flex;
    align-items: center;
}

.rating-value-container span {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 50%;
}

#user-rating-value {
    font-weight: bold;
}

#submit-rating-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

#submit-rating-btn:hover {
    background-color: #0056b3;
}

#user-rating {
    width: 400;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background-color: #f5f5f5;
    outline: none;
    border-radius: 5px;
}

#user-rating::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

#user-rating::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#user-rating::-webkit-slider-thumb:hover,
#user-rating::-moz-range-thumb:hover {
    background-color: #0056b3;
}

#public-rating-value {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #9abecad9;
}

#barayamal-rating-value {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #9abecad9;
}